body{
  /* overflow: hidden; */
}

#main {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
}

#map {
  height: 100%;
    width: 70%;
}

#menu {
    height: 100%;
    width: 30%;
    background-color: whitesmoke;
}

.container {
    display: flex;
    margin-top: 20px;
}

.left {
    flex: 1;
    margin-left: 10px;
}

.right {
    flex: 2;
}

/* #right_two{
  display: inline-block
} */

#label2 {
    margin-top: 12px;
}

#label3 {
  margin-top: 10px;
}

#label4 {
  margin-top: 10px;
}

#input2 {
    margin-top: 10px;
}

#input3 {
  margin-top: 5px;
}

#labelRes {
    margin-top: 10px;
    margin-bottom: 40px;
}

.mouse-coordinates-control {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: white;
    padding: 5px;
  }

  .transparent-control {
    background: whitesmoke;
    border: none;
    box-shadow: none;
    color: black; /* Цвет текста контрола */
    font-family: Arial, sans-serif;
    white-space: nowrap; /* Отключаем перенос текста на новую строку */
    display: inline-block; /* Делаем контрол строчным элементом */
  }

  

  .table-container {
    display: flex;
    flex-direction: column;
    max-height: 70%; /* Максимальная высота таблицы */
    overflow-y: auto; /* Прокручивание при необходимости */
  }
  
  /* Стили для элементов в каждой колонке */
  .column {
    display: flex;
    align-items: center;
    padding: 5px;
  }
  
  .column img {
    border-radius: 50%; /* Закругленные углы для превью-картинки */
    width: 60px;
    height: 50px;
  }
  
  .column .name {
    width: 80%;
    margin: 0 10px;
  }
  
  .column .button {
    width: 20%;
    text-align: center;
    cursor: pointer;
  }
  

#header{
  width: 100%;
  height: 10%;
  background-color: black;
}

#kmlButton{
  margin-left: 5px;
  height: 38px;
}

.justify-content-center{
  margin-top: 0;
}
